<?xml version='1.0' encoding='utf-8'?>
<widget id="anginex.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MatSara</name>
    <description>
        MatSara
    </description>
    <author>
        Sarahi Molina
    </author>

    <icon src="img/ngineX.png"/>
    <content src="index.html" />
    

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="18" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-build-tool" value="gradle" />
    

    <plugin name="cordova-plugin-whitelist"  />

    

    <plugin name="cordova-plugin-device"  source="npm"  />
    <plugin name="cordova-plugin-dialogs" source="npm"  />

    <plugin name="cordova-plugin-vibration"            />


    <plugin name="cordova-plugin-inappbrowser"        source="npm" spec="~1.7.1" />




    <access origin="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android"> 
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>

